# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Results and logs
results_*.csv
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Miscellaneous
*.json
learn_info_size_*